@charset "UTF-8";
body {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: Tagesschrift;
  color: black;
}

h2 {
  margin: 10px;
  padding: 10px;
  color: yellow;
}

h3 {
  margin: 10px;
  padding: 10px;
  color: yellow;
}

h4 {
  margin: 10px;
  padding: 10px;
  color: yellow;
}

a {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: yellow;
  padding: 10px;
  margin: 20px;
}

.intermedio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intermedio .tablaresultados {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding: 1rem;
  margin: 0 auto;
  float: right;
}
.intermedio .tablaresultados tr {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}
.intermedio .tablaresultados td {
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-weight: bold;
  font-size: 1rem;
}
.intermedio .tablaresultados .escudo {
  width: 50px;
  height: auto;
}
.intermedio .tablaresultados .marcador {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
.intermedio .tablaresultados .intermediocampeon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.noticiasentrada {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  text-align: center;
  padding: 30px;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Inicio h2 {
  background-color: black;
  color: yellow;
}

.jugadores2011 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  gap: 20px;
}
.jugadores2011 .plantel2011 {
  border: 5px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jugadores2011 .plantel2011 p {
  color: black;
  text-align: center;
  width: 100%;
}
.jugadores2011 .plantel2011 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jugadores2024 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  gap: 20px;
}
.jugadores2024 .plantel2024 {
  border: 5px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jugadores2024 .plantel2024 p {
  color: black;
  text-align: center;
  width: 100%;
}
.jugadores2024 .plantel2024 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lib2024 article {
  padding: 20px;
}

.carousel-item .carousel-caption p {
  color: black !important;
  background-color: yellow;
}
.carousel-item .carousel-caption h3 {
  background-color: yellow;
  color: black;
}

.formularios {
  margin: 20px;
  padding: 10px;
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@keyframes titulo {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin: 0;
    width: 100%;
  }
}
#uruguayo2024 .videoleo {
  margin: 20px;
}

#Juan .videojuan {
  margin: 20px;
}

.encabezados h1 {
  background-color: yellow;
  animation-name: titulo;
  animation-duration: 1s;
  animation-delay: 0;
}
.encabezados .navegador .navbar-brand {
  color: black !important;
}
.encabezados .navegador .dropdown-menu a:hover {
  background-color: red !important;
}
.encabezados .navegador .dropdown-menu {
  background-color: yellow;
}
.encabezados .navegador .bg-body-tertiary {
  background-color: yellow !important;
}
.encabezados .navegador .nav-item a {
  color: black !important;
}
.encabezados .navegador .container-fluid a:hover {
  color: white !important;
  background-color: red;
}

#Antonio article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Dario article {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Noticias .noticiaspeñarol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#Noticias .noticiaspeñarol .noticiassobrepeñarol {
  border: 5px solid red;
  background-color: white;
}
#Noticias .noticiaspeñarol .noticiassobrepeñarol p {
  color: black;
}
#Noticias .noticiaspeñarol .noticiassobrepeñarol h3 {
  color: black;
}
#Noticias .noticiaspeñarol .noticiassobrepeñarol img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  float: right;
  color: yellow;
}
footer .sitio {
  color: white;
}

.imagenes {
  width: 170px;
  height: 130px;
  float: right;
  transition: 1s;
}
.imagenes:hover {
  transform: scale(1.3);
}

#Estadio .estadio {
  width: 700px;
  height: 500px;
  margin: 20px;
}

.primerafoto {
  text-align: center;
}

.primerafoto img {
  width: 350px;
  height: 250px;
}

.fotosidolos {
  width: 200px;
  height: 150px;
}

.noticiasentrada article img {
  width: 250px;
  height: 150px;
}

@media screen and (max-width: 895px) {
  .jugadores2024 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
  }
  .jugadores2024 .jugadores2024 .plantel2024 p {
    font-size: 10px;
  }
  .jugadores2011 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
  }
  .jugadores2011 .jugadores2011 .plantel2011 p {
    font-size: 10px;
  }
}
@media (max-width: 860px) {
  .intermedio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intermedio .intermediocampeon {
    max-width: 90%;
  }
  .intermedio .tablaresultados {
    width: 100%;
  }
  .intermedio .tablaresultados table {
    width: 100%;
    gap: 0.5rem;
  }
  .intermedio .tablaresultados tr {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .intermedio .tablaresultados td {
    font-size: 0.9rem;
  }
  .intermedio .tablaresultados .escudo {
    width: 40px;
  }
  .intermedio .tablaresultados .marcador {
    font-size: 1rem;
  }
  .noticiasentrada article img {
    width: 150px;
    height: 100px;
  }
  .noticiasentrada article p {
    font-size: 20px;
  }
  #Estadio .estadio {
    width: 500px;
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  #Estadio .estadio {
    width: 450px;
    height: 250px;
  }
  .jugadores2024 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
  }
  .jugadores2011 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
  }
}
@media screen and (max-width: 574px) {
  #Noticias .noticiaspeñarol {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .noticiasentrada {
    margin: 10px;
    padding: 10px;
  }
  .noticiasentrada article img {
    width: 100px;
    height: 50px;
  }
  .noticiasentrada article p {
    font-size: 10px;
    margin: 10px;
  }
  #Estadio .estadio {
    width: 200px;
    height: 150px;
  }
  #uruguayo2024 article iframe {
    width: 170px;
    height: 100px;
  }
  #Juan article iframe {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 470px) {
  #Estadio .estadio {
    width: 150px;
    height: 100px;
  }
  .jugadores2011 p {
    font-size: 5px;
  }
  .jugadores2024 p {
    font-size: 5px;
  }
  #Juan article iframe {
    width: 170px;
    height: 100px;
  }
}
@media screen and (max-width: 376px) {
  .navegacion ul {
    padding: 0;
    margin: 0;
  }
  .imagenes {
    width: 100px;
    height: 50px;
  }
  #Estadio .estadio {
    width: 300px;
    height: 150px;
  }
  #Juan article iframe {
    width: 100px;
    height: 100px;
  }
  article .fotosidolos {
    width: 100px;
    height: 100px;
  }
  .noticiasentrada article img {
    width: 30px;
    height: 20px;
  }
  .noticiasentrada article p {
    font-size: 10px;
  }
  .intermedio {
    flex-direction: column;
    align-items: center;
  }
  .intermedio .intermediocampeon {
    max-width: 100%;
    height: auto;
  }
  .intermedio .tablaresultados {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .intermedio tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.3rem;
    border-width: 1px;
  }
  .intermedio td {
    font-size: 0.8rem;
    padding: 0.2rem;
  }
  .intermedio .escudo {
    width: 30px;
  }
  .intermedio .marcador {
    font-size: 0.9rem;
    padding: 0 0.3rem;
  }
  #Estadio .estadio {
    width: 259px;
    height: 150px;
  }
  .primerafoto img {
    width: 250px;
    height: 150px;
  }
  #uruguayo2024 article iframe {
    width: 150px;
    height: 100px;
  }
} 


/*# sourceMappingURL=estilosass.css.map */
