#Antonio ¨{
    display: flex;
    margin: 10px;
    #Antonio div{
    display: flex;
    display: inline-block;
    width: 50%;
}

}

#Dario article{
    display: flex;
    display: inline-block;
    width: 50%;
}
