#Antonio article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Dario article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Juan article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}