body {
    background-color: $color-secundario;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Tagesschrift;
    color: $color-secundario;

}

h2 {
    margin: 10px;
    padding: 10px;
    color: $color-primario;
}

h3 {
    margin: 10px;
    padding: 10px;
    color: $color-primario;
}

h4 {
    margin: 10px;
    padding: 10px;
    color: $color-primario;
}

a {
    text-decoration: none;
    color: $color-primario;
    font-size: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: $color-primario;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.volver {
    margin: 20px;
    padding: 0px;
}

.intermedio {
    @include flex(flex,center,center);
    margin: 20px;

    .tablaresultados {
        overflow-x: auto;
        @include flex (flex,center,center);
        flex-direction: column;
        background-color: #000;
        padding: 1rem;
        margin: 0 auto;
        float: right;


        tr {
            @include flex (flex,center,center);
            gap: 1rem;
            border: 2px solid nth($colores, 5);
        }

        td {
            @include flex (flex,center,center);
            color: $color-primario;
            font-weight: bold;
            font-size: 1rem;
        }

        .escudo {
            width: 50px;
            height: auto;
        }

        .marcador {
            font-size: 1.2rem;
            padding: 0 0.5rem;
        }

        .intermediocampeon {
            @include flex (flex,center,center);
            margin: 50px;
        }
    }
}

.noticiasentrada {
    @include flex (flex,space-around,center);
    margin: 20px;
    text-align: center;
    padding: 30px;
    article img {
    width: 250px;
    height: 150px;
}

}

.boton {
    @include flex (flex,center,center);
    button {
        background-color: nth($colores, 4);
        border-color: nth($colores , 1);

        a {
            color: $color-secundario;
        }
    }
}

.carousel-item {
    .carousel-caption p {
        color: $color-secundario !important;
        background-color: $color-primario;
    }

    .carousel-caption h3 {
        background-color: $color-primario ;
        color: $color-secundario;

    }

}

.formularios {
    margin: 20px;
    padding: 10px;
    color: $color-primario;
    @include flex (flex,space-around,flex-start);
    flex-direction: column;
}

@keyframes titulo {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin: 0;
        width: 100%;
    }
}

