@media screen and (max-width: 895px) {
    .jugadores2011  .plantel2011 p{
            font-size: 10px;
        }
    .jugadores2024 .plantel2024 p {
        font-size: 10px;
    }
    
    
} 
@media screen and (max-width: 700px) {
    .estadio{
    width: 450px;
    height: 250px;
}

}
@media screen and (max-width: 574px) {

    #uruguayo2024 iframe {
        width: 300px;
        height: 200px;

    }
    #Juan iframe {
        width: 250px;
        height: 100px;
    }
}

@media screen and (max-width: 470px) {
    .estadio {
        width: 150px;
        height: 100px;
    }
    .jugadores2011  .plantel2011 p{
            font-size: 5px;
        }
    .jugadores2024 .plantel2024 p{
        font-size: 5px;
    }
}

@media screen and (max-width: 376px) {

    .navegacion ul {
        padding: 0;
        margin: 0;
    }
    
    .imagenes{
    width:100px;
    height: 50px;
    
} 
}